.project {
    height: 400px;
    background: #fffffa;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.project_img {
    height: 350px;
    width: 90%;
    
}
.project_explanation {
    padding-right: 50px;
    flex-direction: column;
}
.project_explanation_title {
    font-size: 24pt;
}
.project_explanation_text {
    font-size: 15pt;
    margin-top: 15px;
    text-align: justify;
    padding-right: 50px;
}
.missions {
    height: 400px;
    padding: 35px 50px;
    background: #b1b1b1;
}
.missions_header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.missions_title {
    font-size: 24pt;
    text-align: center;
}
.missions_text {
    font-size: 15pt;
    margin-top: 15px;
    text-align: justify;
}
.missions_container {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 35px;
}
.missions_container > div:first-child {
    padding-right: 40px;
}
.missions_part_title {
    font-size: 24pt;
}
.missions_part_text {
    font-size: 15pt;
    margin-top: 5px;
    text-align: justify;
}
.more {
    height: 75px;
    background: #ffa400;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.more_text {
    font-size: 20pt;
}
.more_link {
    color: #00006e;
    margin-left: 10px;
    font-size: 21.5pt;
}
.footer {
    margin-top: 0px;
}