body {
    background: #dc9812;
}
.post {
    background: #fffffa;
    border: 1px solid #00000a;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .8);
    height: 1350px;
    margin: 25px;
    margin-bottom: 35px !important;
    border-radius: 15px;
    padding: 15px;
}
.post_header {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
}
.post_header_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #00000a;
    text-align: center;
    background: #6886e2;
    padding-right: 2px;
}
.post_header_text {
    margin-left: 10px;
    color: #606060;
    font-size: 12pt;
}
.post_body {
    height: calc(100% - 90px);
    width: 100%;
    margin-top: 10px;
}
.post_body_title {
    font-size: 24pt;
}
.post_body_text {
    font-size: 15pt;
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5;
}
.post_body_visual {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: calc(100% - 90px);
}
.post_body_img {
    height: 95%;
    max-height: 95%;
    width: 95%;
    border: 1px solid #00000a;
    object-fit: cover;
}
video.post_body_img {
    aspect-ratio: 4/3;
}
.post_body_video {
    grid-column: span 3;
    grid-row: span 2;
    height: 95%;
    width: 50%;
    border: 1px solid #00000a;
    margin-left: calc((100% - 50%) / 2);
}