.header_index {
    height: 725px !important;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    height: 560px;
}
.logo {
    height: 350px;
    width: 350px;
}
.title {
    margin-top: 10px;
    color: #fffffa;
    font-size: 50pt;
}
.slogan {
    margin-top: 15px;
    color: #fffffa;
}
.help {
    height: 85px;
    width: 165px;
    background: #dc9812;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #00000a;
    font-size: 18pt;
    margin-top: 25px;
    font-weight: bold;
}
.cansat {
    height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}
.cansat_video_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cansat_video {
    height: 350px;
    width: 90%;
    /* border: 1px solid #00000a; */
}
.cansat_explanation {
    padding: 10px;
}
.cansat_explanation_title {
    font-size: 24pt;
}
.cansat_explanation_text {
    font-size: 15pt;
    margin-top: 15px;
    text-align: justify;
    padding-right: 50px;
    line-height: 1.5;
}
.missions {
    height: 400px;
    width: 100%;
    background: #dc9812;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.missions_title {
    font-size: 24pt;
}
.missions_text {
    margin-top: 10px;
    font-size: 20pt;
    line-height: 1.5;
}
.missions_zone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 50px;
    margin-top: 25px;
}
.missions_zone_section {
    padding: 0px 25px;
}
.missions_zone_title {
    font-size: 24pt;
}
.missions_zone_text {
    margin-top: 10px;
    font-size: 15pt;
    line-height: 1.5;
}
.missions_zone_list {
    font-size: 15pt;
    list-style-type: circle;
    padding-left: 25px;
    line-height: 1.5;
}
.videos {
    height: 700px;
    background: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
}
.videos_videobig {
    height: 350px;
    width: 575px;
    border: 1px solid #00000a;
}
.videos_videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    padding: 0px 50px;
    width: 100%;
}
.videos_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.videos_video {
    width: 95%;
    height: 250px;
    /* border: 1px solid #00000a; */
}
.videos_mini {
    width: 95%;
    height: 200px;
    position: relative;
    background: rgba(0 0 0 .2);
    bottom: 200px;
}
.sponsors {
    height: 800px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 25px;
}
.sponsors_title {
    grid-column: span 3;
}
.sponsors_sponsors {
    height: 95%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 15px;
}
.sponsors_sponsor {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000a;
}
.sponsors_sponsor_logo {
    max-width: 150px;
    max-width: 150px;
}
.sponsors_sponsor_all {
    grid-column: span 3;
    grid-row: span 4;
    border: 1px solid #00000a;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsors_all {
    height: 95%;
    width: auto;
}