.team {
    height: 1000px;
    padding: 5px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team_title {
    font-size: 24pt;
    text-align: center;
}
.team_img {
    width: 90%;
    height: auto;
    /* border: 1px solid #00000a; */
    margin-top: 10px;
}
.team_text {
    font-size: 18pt;
    margin-top: 10px;
    text-align: center;
    width: 91%;
    line-height: 1.5;
}
.videos {
    height: 300px;
    background: #dc9812;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
}
.videos_video {
    border: 1px solid #00000a;
    height: 225px;
    width: 92.5%;
}